{% extends 'base.html' %}

{% block title %}Pridať fórum{% endblock %}

{% block content %}
    <style>
        .btn {
            transition: background-color 0.3s ease, transform 0.3s ease;
            border-radius: 5px;
            display: inline-block;
            background-color: #93BFCF;
            color: #2C3E50;
            padding: 11px;
            text-align: center;
            text-decoration: none;
            font-size: 17px;
            cursor: pointer;
            border:none;
            padding-left: 17px;
            padding-right: 17px;
        }
        .btn:hover {
            background-color: #6096B4;
            color: white;
            transform: scale(1.05);
        }
        .input_frm {
            border: 4px solid #7A9BAF;
            margin-left: 400px;
            margin-top: 50px;
            padding: 30px;
            width: 300px;
            background-color: white;
            height: 435px;
            color: #2C3E50;
        }
        .input_frm p {
            font-size: 20px;
            margin-bottom: 20px;
        }
        .input_frm textarea,
        .input_frm input[type="text"] {
            width: 100%;
            box-sizing: border-box;
            height: 20px;
        }
        .input_frm textarea {
            height: 100px; 
            resize: none; 
        }
        .button-container {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
        input[type="file"]::file-selector-button {
            border-radius: 4px;
            padding: 0 16px;
            height: 35px;
            cursor: pointer;
            background-color: #add8e6;
            border: 1px solid rgba(0, 0, 0, 0.16);
            box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
            margin-right: 16px;
            transition: background-color 200ms;
        }   
        input[type="file"]::file-selector-button:hover {
            background-color: #a0c8e0;
        }
        input[type="file"]::file-selector-button:active {
            background-color: #e5e7eb;
        }
    </style>

{% if request.user.is_authenticated %}
    <div class="input_frm">
        <form action="{% url 'addInForum' %}" method="POST" enctype="multipart/form-data">
            <h3 style="text-align:center; margin-top:0px">Pridať fórum</h3>
            {% csrf_token %}
            <p>{{ form.topic.label_tag }} {{ form.topic }}</p>
            <p>{{ form.description.label_tag }} 
                <textarea name="description" rows="5" cols="40">{{ form.description.value|default:'' }}</textarea>
            </p>
            <p>{{ form.link.label_tag }} {{ form.link }}</p>
            <p>{{ form.file.label_tag }} {{ form.file }}</p> 
            <div class="button-container">
                <input type="submit" class="btn btn-success" value="Vytvoriť">
                <a class="btn btn-frm" href="{% url 'forum' %}">Naspäť</a>
            </div>
        </form>
    </div>
{% else %}
    <p>Please log in.</p>
{% endif %}
{% endblock %}
